.calendarContainer {
    background-color: white;
}

.cardsGrid {
    background-color: var(--primary-color);
    border-radius: 10px;
}

.forumCardsGrid {
    background-color: var(--primary-color);
}

.topTitle {
    margin-bottom: 40px;
}

.topTitle .titleText {
    margin-left: 15px;
}

.topTitle .titleSubtext {
    margin-left: 35px;
}